<!--<div *ngIf="_searchService.dataFound">
    <div style="float: left;padding: 15px;">
        <span *ngIf="_searchService.details.oneWay" ><b>{{_searchService.details.departureCity.toUpperCase()}}&nbsp;<span>&#9992;</span>&nbsp;{{_searchService.details.arrivalCity.toUpperCase()}}</b></span>
        <span *ngIf="!_searchService.details.oneWay" ><b>{{_searchService.details.departureCity.toUpperCase()}}&nbsp;<span>&#9992;</span> &nbsp;{{_searchService.details.arrivalCity.toUpperCase()}}&nbsp;<span>&#9992;</span>&nbsp;{{_searchService.details.departureCity.toUpperCase()}}</b></span>
    </div>
    <div style="float: right; padding: 5px">
        <span><b>Departs:{{_searchService.details.departDate |date}}</b></span>
        <br>
        <span *ngIf="!_searchService.details.oneWay"><b>Returns:{{_searchService.details.returnDate |date}}</b></span>
    </div>
</div>-->
<div class="breadcrumbs">
    <h3 *ngIf="_searchService.details.oneWay">{{_searchService.details.departureCity.toUpperCase()}}&nbsp;<span>&#9992;</span>&nbsp;{{_searchService.details.arrivalCity.toUpperCase()}}</h3>
    <h3 *ngIf="!_searchService.details.oneWay">{{_searchService.details.departureCity.toUpperCase()}}&nbsp;<span>&#9992;</span> &nbsp;{{_searchService.details.arrivalCity.toUpperCase()}}&nbsp;<span>&#9992;</span>&nbsp;{{_searchService.details.departureCity.toUpperCase()}}</h3>
    <div class="flightTimingInfo">
        <p>Departs: {{_searchService.details.departDate |date}}</p>
        <p *ngIf="!_searchService.details.oneWay">Returns: {{_searchService.details.returnDate |date}}</p>
    </div>
</div>