.breadcrumbs{
    width:100%;
    background: tan;
    color:black;
}
.breadcrumbs h3{
    display: inline-block;
    padding: 0px 0px 0px 10px;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.9em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.breadcrumbs p{
    padding: 0px;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.flightTimingInfo{
    float: right;
    display: inline;
    margin-right: 3px;
}

@media screen and (max-width: 600px){
   .flightTimingInfo{
    float:none;
   }
}