/*.modal {
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: scroll;
}

header,
footer {
    height: 100px;
    background: #F1C40F;
    color:white;
    text-transform: uppercase;
    padding: 0px 0px 0px 20px;
}

.modal_content {
    height: 100%;
}

aside {
   width:25%;
   float: left;
   height: inherit; 
   background: tan;
}

main {
    width:75%;
    float: right;
    height: inherit;
}*/


.header {
    grid-area: header;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    padding: 1px 0px 1px 20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    min-height: 20px;
    background-color: #0143a3;
    background: linear-gradient(135deg,#0143a3,#0273d4);
    color:white;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}
.header h1{
    display: inline;
    font-size: 25px;
}

.footer{
  grid-area: footer;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 20px 0px 20px 20px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  min-height: 20px;
  background-color: #0143a3;
  background: linear-gradient(135deg,#0143a3,#0273d4);
  color:white;
  text-transform: uppercase;
}

div.search-box{
  grid-area: search-box;
  background-color: #fff;
  border-right: 1px solid #dee2e6;
  height: -webkit-fill-available;
}

div.flight-card{
  grid-area: flight-card;
  width:100%;
  align-content: center;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.5s linear;
  -webkit-transition: background-image 0.5s linear;
  
}
/* WHILE SEARCHING FOR COMPONENTS */
/*.loading{
  background-image: url('../assets/img/Blocks.svg');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}*/
div.info-box{
  width:100%;
  align-content: center;
}
.wrapper{
    display: grid;
    grid-template-areas: 
                         "search-box flight-card"
                         "footer footer";
  
    grid-template-columns: 25% 1fr;
  
    grid-template-rows: 60px 
              1fr 
              0px;
  
    min-height: 100vh;
}

@media screen and (max-width: 600px) {

.header {
    grid-area: header;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    padding: 20px 0px 20px 20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    min-height: 20px;
    background-color: #0143a3;
    background: linear-gradient(135deg,#0143a3,#0273d4);
    color:white;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}
.header h1{
    display: inline;
    font-size: 25px;
}

.footer{
  grid-area: footer;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 20px 0px 20px 20px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  min-height: 20px;
  background-color: #0143a3;
  background: linear-gradient(135deg,#0143a3,#0273d4);
  color:white;
  text-transform: uppercase;
}

div.search-box{
  grid-area: search-box;
  grid-area: search-box;
  background-color: #fff;
  border-right: 1px solid #dee2e6;
}

div.info-box{
  grid-area: info-box;
  width:100%;
  align-content: center;
}

div.flight-card{
  grid-area: flight-card;
  width:100%;
  align-content: center;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.5s linear;
  -webkit-transition: background-image 0.5s linear;
  
}

	.wrapper {
		grid-template-areas: 
		                     "search-box"
		                     "info-box"
		                     "flight-card"
		                     "footer";

		grid-template-columns: 100%;
		grid-template-rows: 70px 
							400px 
							0.1fr
							0.5fr 
              30px;
    overflow: scroll;
  }
}

/* FLying Animation */

/*div.toony-flight{
  position: fixed;
  font-size: 300px;
  top:30%;
  left: -1100px;
  visibility: hidden;
  display: none;
  color:#1976D2;
}
.fly{
  visibility: visible !important;
  display: block !important;
  animation-name: flyHigh;
  animation-duration: 4s;
  -webkit-animation-name: flyHigh; 
  -webkit-animation-duration: 3s;
} 
@keyframes flyHigh {
  0%   {left: 0px;}
  
  100% {left: 1500px;}
} */