.modal {
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: scroll;
}

header,
footer {
    height: 100px;
    background: #F1C40F;
    color:white;
    text-transform: uppercase;
    padding: 0px 0px 0px 20px;
}

.modal_content {
    height: 100%;
}

aside {
   width:25%;
   float: left;
   height: inherit; 
   background: tan;
}

main {
    width:75%;
    float: right;
    height: inherit;
}
